body {
background-image: url('Nature3.jpg') ;
background-attachment: fixed; 
background-size: cover; 
background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}

.Meno {
list-style-type: none;
padding: 0;
margin: 0;
overflow: hidden;
background-color: #999999;
border-radius: 5px;
margin-left: 20% ;
width: 40%;
display: inline-block;
}

.Meno li {
float: left;

}


.Meno a {
display: block;
text-align: center;
padding: 20px;
text-decoration: none;
color: black;

}

.Meno a:hover {
  background-color: #FF6F61;
  transition: 0.4s;
  border-radius: 5px;
  }


.side a {
  text-decoration: none;
  color:#000;
  
}


aside ul {
  list-style-type: none;
  padding: 0;
  
  }

.side  {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  height: 511px;
  width: 20%;
  float: right;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10.7%;
  margin-bottom: 1% ;
  position: relative;
  right: 25px;
}

.con{
  color: red;
}


article {
  background-color: silver;
  background-repeat: no-repeat;
  padding: 15px;
  width: 75%;
  float: left;
  border-radius: 5px;
  margin-right: 2.5% ;
  margin-left: 1% ;
  margin-top: 10%;
  margin-bottom: 1% ;
  position: relative;
  top: 10px;
  }

  .pos {  
    height: 480px;
  }



  section::after{
    content: " ";
    clear: both;
    display: table;
  }

.foot {
  background-color: SlateGray;
  padding: 10px;
  text-align: center;
  color: white;
  height: 260px ; 
  border-radius: 5px;
}







.side_links {
background-color: #FF6F61;
margin-left: 5%;
margin-bottom: 50%;
float: left;
width: 90%;
height: 40px ;
border-radius: 4px;
padding-top: 4%;
text-align: center;
}

.side_links::after{
  clear: both;
  display: table;
}




#icon{
  float: right;
  margin-right: 1em;  

}


