body {
   background-color: Ivory;
}

* {
  box-sizing: border-box;
}

.Meno {
list-style-type: none;
padding: 0;
margin: 0;
overflow: hidden;
background-color: #696969;
border-radius: 5px;
}

.Meno li {
float: left;

}


.Meno a {
display: block;
text-align: center;
padding: 20px;
text-decoration: none;
color: black;

}

.side a {
  text-decoration: none;
}



.Meno a:hover {
background-color: #DCDCDC;
transition: 0.5s;
border-radius: 5px;
}

.side  {
  background-color: #9F9C99;
  padding: 20px;
  height: 400px;
  width: 20%;
  float: left;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 2% ;
  margin-left: 2% ;
  margin-bottom: 2% ;

  
}

aside ul {
list-style-type: none;
padding: 0;

}



article {
  background-color:#FF6F61;
  padding: 20px;
  height: 400px; 
  width: 74%;
  float: right;
  border-radius: 5px;
  }


footer {
  background-color: SlateGray;
  padding: 80px;
  text-align: center;
  color: white;
  height: 265px ; 
  border-radius: 5px;
}

section::after{
  content: " ";
  clear: both;
  display: table;

}


form {
background-color: #DCDCDC;
border-radius: 5px;

}

h3 {
  display: inline;
}

form {
  padding: 10px;
}











